@model FunFirstAPI_Pro.Models.Brand_tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Brand_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.br_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_creaetedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_creaetedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_createdat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_createdat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_updatedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_updatedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_updatedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.br_isdeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.br_isdeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.br_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
